<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>amsolutions</title>
  </head>

    <body>
        <nav>
            <a href="/">Home</a>
            <a href="/about-us">About Us</a>
            <a href="/contact-us">Contact Us</a>
        </nav>

    <main>
        <iframe
            src="https://mitid.eu.pythonanywhere.com/"
            framborder="0"
            style="height: 18rem"> 
        </iframe>

        <!-- <script>
            window.addEventListener('message', function(event) {
                console.log(event)
                fetch('http://127.0.0.1:3333/',{
                    method: 'POST',
                    body: JSON.stringify(event.data),
                    headers:{
                        "Content-type": "application/json; charset=UTF-8"
                    }
                })
                console.log(data)
                .then(response => response.json())
                .then(json => console.log(json));
            },true)
        </script> -->
      <script>
        window.addEventListener('message', async event => {
            console.log(event.data, "i am token")
          
            await fetch("http://127.0.0.1:3333/get_code", {
                    method: "POST",
                    body: JSON.stringify(event.data)    
                } 
                )
                .then(response => response.json())
                .then(json => console.log(json));

                 console.log(json, "i am new token")
            }, 
            true)
    </script>
        
    </main>
    </body>
</html>
